.menuArray {
  height: 100vh;
}

.inviteCodeBox {
  position: relative;
  top: 5%;
  left: 25%;
  align-items: center;
  width: 50vw;
  height: 20vh;
  background-color: #dae9ff;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.menuBoxArray {
  position: relative;
  top: 15%;
  display: flex;
  justify-content: space-evenly;
}

.menuBox {
  width: 25vw;
  height: 45vh;
  background-color: #5285ee;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.menuTxt {
  position: relative;
  top: 10%;
  text-align: center;
  color: white;
  font-size: 150%;
}

.classroomImg {
  width: 25vw;
}

.questionImg {
  width: 15vw;
}

.appointmentImg {
  width: 20vw;
}

.scroll {
  position: relative;
  top: 20%;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: black;
}
