.joinArray {
  height: 90vh;
  background-color: #5285ee;
}

.joinTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-size: 300%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.joinFormArray {
  display: flex;
  justify-content: center;
}

.joinBackground {
  width: 28vw;
  height: 41vh;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.joinForm {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.joinForm input {
  padding: 3%;
  font-size: 120%;
  border: none;
  outline: none;
  background-color: transparent;
}

.joinIcon {
  padding-left: 2%;
  width: 1vw;
}

.joinBtnArray {
  position: absolute;
  top: 74%;
  left: 41.5%;
  display: flex;
  justify-content: space-evenly;
}

.joinBtn {
  width: 8vw;
  height: 5vh;
  border: 1px solid black;
  border-radius: 25px;
  font-size: 150%;
  background-color: white;
  margin-left: 8%;
}

.round1 {
  width: 15%;
  position: absolute;
  top: 15%;
  left: 12%;
}

.round2 {
  width: 15%;
  position: absolute;
  top: 20%;
  right: 5%;
}

.round3 {
  width: 20%;
  position: absolute;
  top: 52%;
  left: 42%;
}
