.menuArray {
  display: flex;
  margin-top: 0.5%;
  width: 100vw;
  height: 5vh;
}

.updateMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 50px 50px 0 0;
  background-color: #d9d9d9;
}

.changeMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 50px 50px 0 0;
  background-color: #4a93e3;
  color: white;
}

.formArray {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.passwordFormArray {
  text-align: center;
  width: 40vw;
  height: 65vh;
}

.formTxt {
  margin: 2% 0%;
}

.passwordForm {
  width: 40vw;
  height: 60vh;
  text-align: left;
}

.inputForm {
  margin: 4% 12%;
}

.inputTxtForm {
  width: 30vw;
  height: 5vh;
  margin-top: 2%;
  font-size: 150%;
  padding-left: 2%;
}

.formBtnArray {
  display: flex;
  justify-content: center;
}

.formBtn {
  width: 5vw;
  height: 5vh;
  font-size: 150%;
  border-radius: 20px;
  margin: 2%;
  background-color: white;
}